.btn-hover-blue:hover{
    color: #fff;
    background-color: #7ea5f0;
    border-color: #7ea5f0;
}
.form-inline{
    margin-bottom: 0;
}
/*.form-inline label{*/
    /*margin-bottom: 0;*/
    /*vertical-align: top;*/
    /*position: relative;*/
    /*top:6px;*/
/*}*/
.panel-body{
    padding-bottom:5px;
    padding-top:5px;
}
.panel-default{
    margin-bottom:10px;
}

.mydp .btnpicker {
    border-radius: 4px;
}