
<h4>上游采购信息详情</h4>
<div class="form-wrap" >
    <form  [formGroup]="form"  action="" class="form-horizontal">
        <div class="form-group">
            <label  class="control-label col-sm-1">团队:</label>
            <div class="col-sm-5">
                <select disabled  formControlName="teamid"  >
                    <option value=""></option>
                    <option *ngFor="let team of teaminfo" [value]='team.value'>{{team.label}}</option>
                </select>
                <!--<input type="text" disabled   formControlName="teamname"  maxlength="30" >-->
                <small *ngIf="(teamid.dirty || teamid.touched) && !teamid.valid" class="text-danger" >必输项</small>
            </div>

            <label class="control-label col-sm-1">财务公司:</label>
            <div class="col-sm-5">
                <!--<input type="text" disabled   formControlName="financecellname" maxlength="30" >-->
                <select disabled formControlName="financecellid"  >
                    <option value=""></option>
                    <option *ngFor="let item of financecellinfo" [value]='item.value'>{{item.label}}</option>
                </select>
                <small *ngIf="financecellid.dirty && !financecellid.valid" class="text-danger" >必输项</small>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1">上游公司:</label>
            <div class="col-sm-5">
                <input type="text" disabled  formControlName="uppercomp" maxlength="30" >
                <small *ngIf="uppercomp.dirty && uppercomp.hasError('required')" class="text-danger" >必输项</small>
                <small *ngIf="uppercomp.dirty && uppercomp.hasError('maxlength')" class="text-danger" >最多输入30个字</small>
            </div>
            <label class="control-label col-sm-1">下游公司:</label>
            <div class="col-sm-5">
                <input type="text" disabled formControlName="lowercomp"  maxlength="30">
                <small *ngIf="lowercomp.dirty && !lowercomp.valid" class="text-danger" >必输项</small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">业务线:</label>
            <div class="col-sm-5">
                <input disabled  type="text" formControlName="ywx">
                <small *ngIf="ywx.dirty && !ywx.valid" class="text-danger" >必输项</small>
            </div>

            <label class="control-label col-sm-1">融资方式:</label>
            <div class="col-sm-5">
                <select disabled   formControlName="rzfs"  >
                    <option value="1">自有资金</option>
                    <option value="2">财富资金</option>
                    <option value="3">中平资金</option>
                </select>
                <small *ngIf="rzfs.dirty && !rzfs.valid" class="text-danger" >必输项</small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">合同基准利率(%):</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="htzjll">
                <small *ngIf="htzjll.dirty && htzjll.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
            </div>
            <label class="control-label col-sm-1">融资利率(%):</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="zrll">
                <small *ngIf="zrll.dirty && zrll.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                <small *ngIf="zrll.dirty && zrll.hasError('required')" class="text-danger" >必输项</small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">预付款比例(%):</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="yfkbl">
                <small *ngIf="yfkbl.dirty && yfkbl.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                <small *ngIf="yfkbl.dirty && yfkbl.hasError('required')" class="text-danger" >必输项</small>
            </div>

            <label class="control-label col-sm-1">结算量(吨):</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="jsl">
                <small *ngIf="jsl.dirty && jsl.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                <small *ngIf="jsl.dirty && jsl.hasError('required')" class="text-danger" >必输项</small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">上游结算日期:</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="upperjsrq">

                <!--<my-date-picker  [selDate]="upperjsrqv"  [options]="myDatePickerOptions" (dateChanged)="onDateChangedupperjsrq($event)" ></my-date-picker>-->
                <small *ngIf="upperjsrq.dirty && !upperjsrq.valid" class="text-danger" >必输项</small>
            </div>
            <label class="control-label col-sm-1">下游结算日期:</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="lowerjsrq">

                <!--<my-date-picker  [selDate]="lowerjsrqv"  [options]="myDatePickerOptions" (dateChanged)="onDateChangedlowerjsrq($event)" ></my-date-picker>-->
                <small *ngIf="lowerjsrq.dirty && !lowerjsrq.valid" class="text-danger" >必输项</small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">运输方式:</label>
            <div class="col-sm-5">
                <select disabled formControlName="ysfs" >
                    <option value="1">船运</option>
                    <option value="2">汽车</option>
                    <option value="3">火车</option>
                </select>
                <small *ngIf="ysfs.dirty && !ysfs.valid" class="text-danger" >必输项</small>
            </div>
            <label class="control-label col-sm-1">发运日期:</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="fyrq">
                <!--<my-date-picker  [selDate]="fyrqv"   [options]="myDatePickerOptions" (dateChanged)="onDateChangedFyrq($event)" ></my-date-picker>-->

                <small *ngIf="fyrq.dirty && !fyrq.valid" class="text-danger" >必输项</small>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">销售含税总额:</label>
            <div class="col-sm-5">
                <input disabled type="text" formControlName="xshsze">
                <small *ngIf="xshsze.dirty && xshsze.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                <small *ngIf="xshsze.dirty && xshsze.hasError('required')" class="text-danger" >必输项</small>
                <small *ngIf="xshsze.dirty && xshsze.hasError('maxlength')" class="text-danger" >最大不超过999999999.99</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button *ngIf="isedit"  type="button" (click)="save()" [disabled]='saving'    class="btn btn-primary">确认</button>
            </div>
            <div class="col-sm-6">
                <button type="button" (click)="goBack()"   class="btn btn-default btn-sm">返回</button>
            </div>
        </div>
    </form>
</div>

<div>
    <p-tabView>
        <p-tabPanel header="开票信息">
            <billinfolist [coalsell]="coalsell">
            </billinfolist>
        </p-tabPanel>
        <p-tabPanel *ngIf="coalsell.rzfs!=1"  header="外部融资(借/还)款">
            <paymentinfolist [coalsell]="coalsell" >
            </paymentinfolist>
        </p-tabPanel>
        <p-tabPanel header="自营付款">
            <paymentinfozylist [coalsell]="coalsell" >
            </paymentinfozylist>
        </p-tabPanel>
        <p-tabPanel header="下游回款">
            <hkinfolist [coalsell]="coalsell" ></hkinfolist>
        </p-tabPanel>
        <p-tabPanel header="收益情况表">
            <incomelist [coalsell]="coalsell" ></incomelist>
        </p-tabPanel>
    </p-tabView>
</div>

