<!--<h4 style="text-align: center">paymentinfo</h4>-->
<button style="margin-bottom: 10px;" type="button" class="btn btn-primary btn-sm" (click)="openAddView()">新增外部融资借款</button>
<div class="panel panel-default">
        <table class="table  table-striped table-hover table-condensed">
            <tr>
                <td style="width: 100px">借款日期</td>
                <td style="text-align: right;" >借款金额</td>
                <td>借款类型</td>
                <td>借款期限</td>
                <td>利率(%)</td>
                <!--<td>ccs利息收益</td>-->
                <!--<td>财富利息收益</td>-->
                <td style="width: 100px" >还款日期</td>
                <td style="text-align: right">还款金额</td>
                <!--<td>还款计息天数</td>-->
                <!--<td>还款对应利率(%)</td>-->
                <!--<td>还款瑞茂通收益</td>-->
                <td>备注</td>
                <td>操作</td>
            </tr>
            <tr *ngFor="let paymentinfo of paymentinfos">
                <td>
                    {{paymentinfo.fkrq}}
                </td>
                <td style="text-align: right" >{{paymentinfo.fkje | number:'.2-2' }}</td>
                <td>
                    <div *ngIf="paymentinfo.jklx==1">
                         固定
                    </div>
                    <div *ngIf="paymentinfo.jklx==2">
                         浮动
                    </div>
                </td>
                <td>
                    <div *ngIf="paymentinfo.jklx==1">
                        {{paymentinfo.jxts}}
                    </div>
                    <div *ngIf="paymentinfo.jklx==2">
                        --
                    </div>
                </td>
                <td>{{paymentinfo.ll}}</td>
                <!--<td>{{paymentinfo.rmtsy}}</td>-->
                <!--<td>{{paymentinfo.cfsy}}</td>-->
                <td>{{paymentinfo.hkrq}}</td>
                <td style="text-align: right" >{{paymentinfo.hkje | number:'.2-2' }}</td>
                <!--<td>{{paymentinfo.hkjxts}}</td>-->
                <!--<td>{{paymentinfo.hkll}}</td>-->
                <!--<td>{{paymentinfo.hkrmtsy}}</td>-->
                <td>{{paymentinfo.bz}}</td>
                <td>
                    <a href="javascript:void(0);" (click)="openEditView(paymentinfo)"   class="btn btn-default btn-xs">修改</a>
                </td>
            </tr>
        </table>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 *ngIf="isedit"  class="modal-title">修改外部融资款信息</h4>
                <h4 *ngIf="!isedit" class="modal-title">新增外部融资借款</h4>
            </div>
            <div class="modal-body">
                <div class="form-wrap">

                    <form  [formGroup]="addPaymentinfoForm"  action="" class="form-horizontal">
                        <div class="form-group"   [class.has-error] = "fkrq.dirty && !fkrq.valid">
                            <label class="control-label col-sm-3">借款日期:</label>
                            <div class="col-sm-9">
                                <my-date-picker  [selDate]="fkrqi"  [options]="myDatePickerOptions" (dateChanged)="onDateChangedfkrq($event)" ></my-date-picker>
                                <small *ngIf="fkrq.dirty && !fkrq.valid" class="text-danger" >必输项</small>
                            </div>
                        </div>

                        <div class="form-group"   [class.has-error] = "fkje.dirty && !fkje.valid">
                            <label class="control-label col-sm-3">借款金额:</label>
                            <div class="col-sm-9">
                                <input formControlName="fkje"  style="width:80%"/>
                                <small *ngIf="fkje.dirty && fkje.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                                <small *ngIf="fkje.dirty && fkje.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>
                        <div class="form-group"   [class.has-error] = "jklx.dirty && !jklx.valid">
                            <label class="control-label col-sm-3">借款类型:</label>
                            <div class="col-sm-9">
                                <select  formControlName="jklx" >
                                    <option value="1">固定期限</option>
                                    <option value="2">浮动期限</option>
                                </select>
                                <small *ngIf="jklx.dirty && jklx.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>

                        <div *ngIf="jklx.value==1" class="form-group"   [class.has-error] = "jxts.dirty && !jxts.valid">
                            <label class="control-label col-sm-3">期限:</label>
                            <div class="col-sm-9">
                                <input formControlName="jxts"  style="width:80%"/>
                                <small *ngIf="jxts.dirty && jxts.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                                <small *ngIf="jxts.dirty && jxts.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>

                        <div class="form-group"   [class.has-error] = "ll.dirty && !ll.valid">
                            <label class="control-label col-sm-3">利率(%):</label>
                            <div class="col-sm-9">
                                <input formControlName="ll"  style="width:80%"/>
                                <small *ngIf="ll.dirty && ll.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                                <small *ngIf="ll.dirty && ll.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>

                        <!--<div class="form-group"   [class.has-error] = "rmtsy.dirty && !rmtsy.valid">-->
                            <!--<label class="control-label col-sm-3">瑞茂通收益:</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input formControlName="rmtsy"  style="width:80%"/>-->
                                <!--<small *ngIf="rmtsy.dirty && rmtsy.hasError('ismoney')" class="text-danger" >请输入整数</small>-->
                                <!--<small *ngIf="rmtsy.dirty && rmtsy.hasError('required')" class="text-danger" >必输字段</small>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group"   [class.has-error] = "cfsy.dirty && !cfsy.valid">-->
                            <!--<label class="control-label col-sm-3">财富收益:</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input formControlName="cfsy"  style="width:80%"/>-->
                                <!--<small *ngIf="cfsy.dirty && cfsy.hasError('ismoney')" class="text-danger" >请输入整数</small>-->
                                <!--<small *ngIf="cfsy.dirty && cfsy.hasError('required')" class="text-danger" >必输字段</small>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group"   [class.has-error] = "hkrq.dirty && !hkrq.valid">
                            <label class="control-label col-sm-3">还款日期:</label>
                            <div class="col-sm-9">
                                <my-date-picker  [selDate]="hkrqi"  [options]="myDatePickerOptions" (dateChanged)="onDateChangedhkrq($event)" ></my-date-picker>
                                <small *ngIf="hkrq.dirty && !hkrq.valid" class="text-danger" >必输项</small>
                            </div>
                        </div>

                        <div class="form-group"   [class.has-error] = "hkje.dirty && !hkje.valid">
                            <label class="control-label col-sm-3">还款金额:</label>
                            <div class="col-sm-9">
                                <input formControlName="hkje"  style="width:80%"/>
                                <small *ngIf="hkje.dirty && hkje.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>
                                <small *ngIf="hkje.dirty && hkje.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>


                        <!--<div class="form-group"   [class.has-error] = "hkjxts.dirty && !hkjxts.valid">-->
                            <!--<label class="control-label col-sm-3">还款计息天数:</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input formControlName="hkjxts"  style="width:80%"/>-->
                                <!--<small *ngIf="hkjxts.dirty && hkjxts.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>-->
                                <!--<small *ngIf="hkjxts.dirty && hkjxts.hasError('required')" class="text-danger" >必输字段</small>-->
                            <!--</div>-->
                        <!--</div>-->


                        <!--<div class="form-group"   [class.has-error] = "hkll.dirty && !hkll.valid">-->
                            <!--<label class="control-label col-sm-3">还款利率:</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input formControlName="hkll"  style="width:80%"/>-->
                                <!--<small *ngIf="hkll.dirty && hkll.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>-->
                                <!--<small *ngIf="hkll.dirty && hkll.hasError('required')" class="text-danger" >必输字段</small>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group"   [class.has-error] = "hkrmtsy.dirty && !hkrmtsy.valid">-->
                            <!--<label class="control-label col-sm-3">还款瑞茂通收益:</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input formControlName="hkrmtsy"  style="width:80%"/>-->
                                <!--<small *ngIf="hkrmtsy.dirty && hkrmtsy.hasError('ismoney')" class="text-danger" >请输入整数</small>-->
                                <!--<small *ngIf="hkrmtsy.dirty && hkrmtsy.hasError('required')" class="text-danger" >必输字段</small>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group"   [class.has-error] = "bz.dirty && !bz.valid">
                            <label class="control-label col-sm-3">备注:</label>
                            <div class="col-sm-9">
                                <input formControlName="bz"  style="width:80%"/>
                                <small *ngIf="bz.dirty && bz.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm"  (click)="saveOrUpdate()" >确定</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" (click)="staticModal.hide()" >关闭</button>
            </div>
        </div>
    </div>
</div>