<html>
<head>
    <title>Angular 2 TypeScript Gulp QuickStart</title>
    <base href="/sample" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <!--<script src="/static/lib/core-js/client/shim.min.js"></script>-->

    <script src="/static/lib/zone.js/dist/zone.js"></script>
    <script src="/static/lib/reflect-metadata/Reflect.js"></script>
    <script src="/static/lib/systemjs/dist/system.src.js"></script>
    <!--<script src="/static/lib/ng2-bootstrap/bundles/ng2-bootstrap.min.js"></script>-->

     <!--2. Configure SystemJS-->
    <script src="/static/systemjs.config.js"></script>
    <script>
        System.import('/static/sample/main.js')
                .then(null, console.error.bind(console));
    </script>

</head>

<!-- 3. Display the application -->
<body>
<my-app>Loading...</my-app>
</body>

</html>
