<!--<h4 style="text-align: center">发票信息</h4>-->
<button style="margin-bottom: 10px;" type="button" class="btn btn-primary btn-sm" (click)="openAddView()">新增开票信息</button>
<div class="panel panel-default">
        <table class="table  table-striped table-hover table-condensed">
            <tr>
                <td>开票日期</td>
                <td>开票金额</td>
                <td>开票吨数</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
            <tr *ngFor="let billinfo of billinfos">
                <td>{{billinfo.kpdate}}</td>
                <td>{{billinfo.amount}}</td>
                <td>{{billinfo.quantity}}</td>
                <td>{{billinfo.bz}}</td>
                <td>
                    <a href="javascript:void(0);" (click)="openEditView(billinfo)"   class="btn btn-default btn-xs">修改</a>
                </td>
            </tr>
        </table>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增开票信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-wrap">
                    <form  [formGroup]="addBillinfoForm"  action="" class="form-horizontal">
                        <div class="form-group"   [class.has-error] = "kpdate.dirty && !kpdate.valid">
                            <label class="control-label col-sm-2">开票日期:</label>
                            <div class="col-sm-10">
                                <my-date-picker  [selDate]="kpdatei"  [options]="myDatePickerOptions" (dateChanged)="onDateChangedkpdate($event)" ></my-date-picker>
                                <small *ngIf="kpdate.dirty && !kpdate.valid" class="text-danger" >必输项</small>
                            </div>
                        </div>
                        <div class="form-group"   [class.has-error] = "quantity.dirty && !quantity.valid">
                            <label class="control-label col-sm-2">开票吨数:</label>
                            <div class="col-sm-10">
                                <input formControlName="quantity"  style="width:80%"/>
                                <small *ngIf="quantity.dirty && quantity.hasError('pattern')" class="text-danger" >请输入整数</small>
                                <small *ngIf="quantity.dirty && quantity.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>
                        <div class="form-group"   [class.has-error] = "amount.dirty && !amount.valid">
                            <label class="control-label col-sm-2">开票金额:</label>
                            <div class="col-sm-10">
                                <input formControlName="amount"  style="width:80%"/>
                                <small *ngIf="amount.dirty && amount.hasError('ismoney')" class="text-danger" >请输入两位小数的数字</small>

                                <small *ngIf="amount.dirty && amount.hasError('required')" class="text-danger" >必输字段</small>
                            </div>
                        </div>
                        <div class="form-group"   [class.has-error] = "bz.dirty && !bz.valid">
                            <label class="control-label col-sm-2">备注:</label>
                            <div class="col-sm-10">
                                <input formControlName="bz"  style="width:80%"/>
                                <small *ngIf="bz.dirty && !bz.valid" class="text-danger" >必输字段</small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm"  (click)="saveOrUpdate()" >确定</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" (click)="staticModal.hide()" >关闭</button>
            </div>
        </div>
    </div>
</div>